body {
	background-color: cornflowerblue;
}

h1 {
	color: blue;
}

.p1, .p2  {
	font-size: 25px;
	font-family: serif;
}

.p1 {
	color: palevioletred;
}

.p2 {
	color: orangered;
}

.footer {
	font-weight: bold;
	text-align: center;
}

.imag1{
	height: 150px;
	width: 150px;
}

.contenedor-1
{
	display: flex;
	gap: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.contenedor-2 {
	display: flex;
	gap:  20px;
	flex-direction: row;
	justify-content: baseline;
	align-items: baseline;
	flex-wrap: wrap;
	background-color: white;
	color: red;

}